.header-login {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}
.bg-login {
    background-color: #2e4374;
}

button:disabled {
    background-color: white;
    color: black;
}
.login-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
}
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.login-links {
    a {
        color: white;
        font-size: 0.92rem;
    }
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
