.container-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    margin-top: 1rem;
    height: 100vh;

    .app-header {
        font-weight: 500;
    }
    .app {
        width: 100%;
    }
    .border-pomo {
        border: 1px solid #ddd;
        width: 50%;
        min-width: 560px;
        max-width: 560px;
        min-height: 600px;
        text-align: center;
        flex: auto;
        padding: 20px;
        width: fit-content;
        margin: 0 5px;
        min-height: 150px;
        height: fit-content;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .container-detail {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        margin-top: 1rem;
        width: 100%;
        max-width: 1200px;
        border: 1px solid #ddd;
    }
    .table {
        width: 100%;
        min-height: 371px;
    }
    @media (max-width: 900px) {
        .border-pomo {
            width: 100%;
            margin: 0 1rem;
            min-width: 100%;
            max-width: 100%;
            max-width: 90%;
        }
        .container-detail {
            flex-direction: column;
            align-items: normal;
        }
    }
}
