<section class="container-home">
    <app-header></app-header>

    <div class="flex-row app">
        <div class="border-pomo">
            <app-pomo-timer></app-pomo-timer>
        </div>
        <div class="border-pomo">
            <app-pomotodo-todo></app-pomotodo-todo>
        </div>
    </div>

    <div class="app">
        <div class="container-detail">
            <app-container-detail [infoHeader]="'Finished Pomotodos'" [infoText]="'565'" [iconName]="'circle'"></app-container-detail>
            <app-container-detail [infoHeader]="'Finished Todos'" [iconName]="'done'"
                [infoText]="numberOfFinishedTodos"></app-container-detail>
        </div>
    </div>

</section>