.app-header {
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 1200px;
}
.flex-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
