<div class="timer">
    <div class="loader-flex" *ngIf="loader">
        <app-loader [diameter]="50"></app-loader>
    </div>
    <div class="flex-col timer-btn" *ngIf="!loader">
        <div class="timer-container">
            <div class="timer-user">
                <mat-icon (click)="saveTodos()" class="close-btn">keyboard_return</mat-icon>
                <input (keydown)="enterPressed($event)" class="timer-input" matInput placeholder="Todo Name"
                    [(ngModel)]="todosInput">
            </div>
        </div>
        <div class="old-pomos">
            <div class="list">
                <p class="header">Last 10 Todos</p>
                <div class="todo-description">
                    <div class="todo" *ngFor="let item of todosArray|slice:0:10">
                        <mat-icon class="icon-circle" *ngIf="item" (click)="todoHasDone(item)">check_circle</mat-icon>
                        <p class="todo-text">
                            {{item}}
                        </p>
                        <mat-icon class="icon-delete" *ngIf="item" (click)="deleteTodo(item)">delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>