.timer {
    width: 100%;
    text-align: center;
    position: relative;
    .timer-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .timer-user {
        min-height: 45px;
    }
    .timer-input {
        height: 27px;
        width: 97%;
        padding: 10px 7px;
        outline: none;
        color: gray;
        font-size: 1rem;
        font-weight: 550;
        border: 1px solid #ddd;
        margin: 0 auto;
        text-align: center;
    }
    .timer-input:focus {
        outline: 0.7px solid gray;
    }
    .timer-input::placeholder {
        font-weight: 600;
    }
    .timer-text {
        padding: 10px 30px;
        color: black;
        font-size: 1rem;
        font-weight: 500;
        border: 1px solid #ddd;
        width: 80%;
        margin: 0 auto;
    }
    .timer-container {
        width: 100%;
        margin-top: 5px;
    }
    .timer-btn {
        margin-top: 1rem;
        button {
            width: 90%;
        }
    }
    .close-btn {
        position: absolute;
        right: 3rem;
        top: 1rem;
        z-index: 999;
        color: black;
        font-weight: 500;
        width: 25px;
        transform: scale(0.9);
        cursor: pointer;
    }
    .old-pomos {
        width: 100%;
        display: flex;
        align-items: flex-start;
        border-top: 1px solid #ddd;
        margin-top: 15px;
    }
    .list {
        margin-top: 5px;
        width: 100%;
    }
    .header {
        text-align: left;
        font-size: 1.1rem;
        margin-top: 5px;
    }
    .todo-text {
        text-align: left;
        font-size: 1rem;
        text-transform: capitalize;
        width: 100%;
        margin: 0;
    }
    .todo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px 0;
    }

    .todo:nth-child(odd) {
        border-bottom: 1px solid #ddd;
    }

    .todo:nth-child(even) {
        border-top: 1px solid #ddd;
    }
    mat-icon {
        width: 35px;
        transform: scale(1);
    }
    .icon-circle {
        color: red;
        cursor: pointer;
    }
    .icon-delete {
        color: gray;
        cursor: pointer;
    }
    span {
        color: gray;
    }
}
