<div class="timer">
    <div class="loader-flex" *ngIf="loader">
        <app-loader [diameter]="50"></app-loader>
    </div>
    <div class="flex-col timer-btn" *ngIf="!loader">
        <div class="timer-container">
            <div class="timer-user">
                <button *ngIf="startButton" mat-raised-button color="primary" (click)="startTimer()">Start
                    Pomotodo</button>
                <mat-icon (click)="stopTimer()" *ngIf="timerRunning" class="close-btn">close</mat-icon>
                <mat-icon (click)="savePomotodo()" *ngIf="minutes == 0 && seconds == 0 &&pomoName != ''"
                    class="close-btn">keyboard_return</mat-icon>
                <p class="timer-input" [class.none]="!timerRunning">{{pomotodoTimer}}</p>
                <textarea *ngIf="timerStopped" (keydown)="enterPressed($event)" class="timer-input"
                    placeholder="Pomotodo Name" [(ngModel)]="pomoName"></textarea>
            </div>
        </div>
        <div class="old-pomos">
            <div class="list">
                <p class="header">Last 10 Todos</p>
                <div class="todo-description">
                    <div class="todo" *ngFor="let item of pomotodosArray|slice:0:10">
                        <p class="todo-text">
                            {{item}}
                        </p>
                        <!-- <mat-icon class="icon-delete" *ngIf="item" (click)="deletePomotodo(item)">delete</mat-icon> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>