.menu-flex {
    display: flex;
    align-items: center;

    .username {
        margin: 0 4px;
        font-weight: 400;
        font-size: 1.1rem;
    }
    mat-icon {
        color: black;
        transform: scale(1.1);
    }
}

button mat-icon {
    font-weight: 400;
    z-index: 999;
    color: gray;
    font-weight: 500;
    transform: scale(0.9);
}
